*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    font-family: 'calibri', cursive;
}
.container{
    background: #D8F2FF;
    height: 95vh;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text{
    width: 60%;
    padding: 20px 20px;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
}
.btn{
    position: absolute;
    top: 85%;
    left: 65%;
    transform: translate(-50%,-50%);
    border: none;
    outline: none;
    font-family: Century Gothic;
    background: purple;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: large;
    color: #ffffff;
    width: 15%;
    transition: 0.3s ease;
}
.btn:hover{
    background: #00a3e8;
}